{% extends 'base.html.twig' %}

{% block title %}Edit the comment{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Edit the comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comment_index') }}" class="btn btn-outline-primary mt-3">Back to list</a>
    {{ include('comment/_delete_form.html.twig') }}
</div>
{% endblock %}
