{% extends 'base.html.twig' %}

{% block title %}Add comment{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Add comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}" class="btn btn-outline-primary mt-3">Back to list</a>
</div>
{% endblock %}
